{% extends 'base.html.twig' %}

{% block title %}Afficher offre{% endblock %}

{% block body %}

    <div class="container">
        <h1>Afficher offre

            <span class="float-right badge">
            {% include '_inc/status.html.twig' with {s: offer.status} %}
</span>


        </h1>

        <table class="table table-borderless">
            <tbody>
            <tr>
                <th>Titre :</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Description :</th>
                <td>{{ offer.description }}</td>
            </tr>
            <tr>
                <th>Type :</th>
                <td>{{ offer.type }}</td>
            </tr>
            <tr>
                <th>Crée le :</th>
                <td>{{ offer.createdAt ? offer.createdAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de début :</th>
                <td>{{ offer.startAt ? offer.startAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin :</th>
                <td>{{ offer.endAt ? offer.endAt|date('d/m/Y') : '' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
